<div>
    <nav>
        <a href="http://localhost:8080/api/session/logout">logout</a>
    </nav>
</div>
<h1>Register</h1>
<form action="/api/session/register" method="POST">
   <input type="text" name="username" placeholder="ingrese usuario" > 
   <input type="text" name="first_name" placeholder="ingrese nombre" required>
   <input type="text" name="last_name" placeholder="ingrese apellido"required> 
   <input type="email" name="email" placeholder="ingrese email" required> 
   <input type="password" name="password" placeholder="ingrese password" required> 
   <button>Enviar</button>
</form>

